<h2 style="color: silver;text-align: center;margin: 125px 0;font-family: cursive;font-size:35px">Bienvenido
    {{email}}
    </h2>

{{!-- {{#each users}} <br>
<h2 style="color: rgb(208, 210, 211);text-align: center;font-family: cursive;">Usuario {{id}} </h2>
<h3 style="color: silver;text-align: center;font-family: cursive;">Nombre: {{first_name}}</h3>
<h3 style="color: silver;text-align: center;font-family: cursive;">email: {{email}}</h3>
{{/each}} --}}

{{#each prod}} <br>
<div>
    <h2 style="color: rgb(208, 210, 211);text-align: center;font-family: cursive;">Id: {{id}} </h2>
    <h3 style="color: silver;text-align: center;font-family: cursive;">Codigo: {{code}}</h3>
    <h3 style="color: silver;text-align: center;font-family: cursive;">Título: {{title}}</h3>
    <h3 style="color: silver;text-align: center;font-family: cursive;">Descripción: {{description}} </h3>
    <h3 style="color: silver;text-align: center;font-family: cursive;">Precio: ${{price}} </h3>
    <h3 style="color: silver;text-align: center;font-family: cursive;">Categoria: {{category}}</h3>
    <h3 style="color: silver;text-align: center;font-family: cursive;">Stock:{{stock}}</h3>
    <h4 style="color: silver;text-align: center;font-family: cursive;">Status: {{status}} </h4>
    <h4 style="color: silver;text-align: center;font-family: cursive;">Fecha de carga:{{fecha}}</h4>
    <img src="{{thumbnails}}" alt="">
</div>
{{/each}}


<div style="display: flex;justify-content: center;margin-top: 100px;gap:25px">
    <button type="submit" onclick="location.href='/views/login'"
        style="border-radius: 8px;height: 25px;width: 100px;background-color: #000;color: rgb(252, 2, 2);cursor: pointer;font-family: cursive;">Ir
        a login</button>
    <button onclick="location.href='/users/logout'" style="border-radius: 8px;height: 25px;width: 100px;background-color: #000;color: rgb(252, 2, 2);cursor: pointer;font-family: cursive;">Logout</button>
</div>
