<h1 style="color: silver;text-align: center;">Productos</h1>

{{#each prod}} <br>
<h2 style="color: rgb(208, 210, 211);text-align: center;font-family: cursive;">Producto {{id}} </h2> 
<h3 style="color: silver;text-align: center;font-family: cursive;">Codigo: {{code}}</h3>   
<h3 style="color: silver;text-align: center;font-family: cursive;">Título: {{title}}</h3>
<h3 style="color: silver;text-align: center;font-family: cursive;">Descripción: {{description}} </h3>
<h3 style="color: silver;text-align: center;font-family: cursive;">Precio: ${{price}} </h3>
<h3 style="color: silver;text-align: center;font-family: cursive;">Categoria: {{category}}</h3>
<h3 style="color: silver;text-align: center;font-family: cursive;">Stock:{{stock}}</h3>
<h4 style="color: silver;text-align: center;font-family: cursive;">Status: {{status}} </h4>
<h4 style="color: silver;text-align: center;font-family: cursive;">fecha de carga:{{fecha}}</h4>
{{/each}}

{{!-- <script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>   --}}